
#titulo01{color: red; font-weight: bold;} 
#titulo02{color: blue; font-size: 100px;} 
.butaofodao{color: rgb(250, 0, 0);background: green;} 
button{background: yellow;} 
p{font-weight: bold;}  
*{color: brown;}





/* UNIDADES DE MEDIDAS 

font-size % = relativo ao px (pixel) que estiverpor fora


font-size vw = realativo ao tamanho da tela do aparelho em vw


font-size vh = relatiivo ao tamanho da tela do aparelho em vh


font-size 0.5 em= relativo igual o valor que esta acima em em
        =50%

font-size rem 0.5= relativo sempre ao que for mais para fora rem 
            =50%



*/


