*{

box-sizing: border-box 
}

/* border-box: o background continua no mesmo tamanho
escolhidos no weidth e no height*/

/*content-box: éao contrario o background conforme vai
adicionando padding e border ele vai aumentando*/

.box{

width: 100px;
height: 100px;
background: green;
padding: 20px;
border: 10px solid red
}