@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}

.diplayflex {
    display: flex;
}

.flex1 {
    flex: 65%;
    border: 1px solid rgb(17, 0, 255);
}

.flex2 {
    flex: 35%;
    border: 1px solid red;
    height: 901px;
    background: rgba(93, 93, 125, 1);
    margin-right: 10%;
    opacity: 16%;
}

header {

    margin-left: 136px;
}

.header {
    display: inline-block;

}


.header h1 {
    width: 368px;
    height: 160px;
    font-size: 70px;
    line-height: 80px;
    color: rgba(93, 93, 125, 1);
    margin-bottom: 15px;
}

.header p {
    width: 540px;
    height: 144px;
    font-size: 28px;
    line-height: 48px;
    color: rgba(93, 93, 125, 1);
    opacity: 60%;
    margin-bottom: 15px;
}

.header button {
    width: 269px;
    height: 62px;
    font-size: 24px;
    line-height: 35.57px;
    text-align: center;
    border-radius: 35px;
    border: none;
    background: rgba(148, 153, 234, 1);
    color: white;
}

.divimg {
    display: inline-block;
}

img {
    margin-left: 131px;
    margin-top: 180px;
    
}


.links {
    margin-left: 829px;
}

.links a {
    width: 60px;
    height: 41px;
    font-size: 28px;
    line-height: 41.5px;
    margin-left: 41px;
    text-decoration: none;
    color: rgba(93, 93, 125, 1);
    ;
}

#work {
    opacity: 40%;
}

