@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.navbar {
    display: flex;
    height: 70px;
    /* background: aquamarine; */
    flex-wrap: wrap row;
    align-items: center;
    margin-left: 42px;
    /* border: 1px solid red; */
    padding: 20px;
}

.menu a {
    font-size: 14px;
    color: black;
    
    padding: 20px 10px
}

#botao{background: rgba(76, 181, 56, 1);
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    color: var

}

.header{
height: 600px;
background: gray;
display: flex;
flex-flow: row wrap;
justify-content: center;
align-items: center;
}

.img{
    margin-left: 10%;
    flex: 80%;
    border: 1px solid
}