@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
} /*padrão*/


.navbar{
display: flex; /* deixar em linha*/
height: 100px;
/* background: aquamarine; */
flex-flow: row wrap; /*NAO SEI*/
justify-content: center; /*centraliza o texto */
align-items: center;
}

.logo{flex: 20%;
/* border: 1px solid red; */
text-align: left;
margin-left: 10%;}


.menu{flex: 70%;
/* border: 1px solid green; */
text-align: right; /*move texto para direita*/
padding: 20px;}

.logo h1{font-family: "Lobster", sans-serif;
color: #180f4a;
font-size: 34px;
}

.menu a{color: #180f4a;
text-decoration: none; /* tira o sublinhado dos links*/
font-size: 20px;
padding: 20px 16px;
}




.menu a:hover{/* passar o mause em cima */
    color: #ff2978;
    border-top: 4px solid #180f4a 

 }

 #botao{
    background: #180f4a;
    padding: 10px 25px;
    border-radius: 5px; /*bordar arredondadas*/
    margin-right: 10%;
    margin-left: 5%;
    color: white;
    
 }

#botao:hover{border: none;
background: #ff2978;}

.header{
/* height: 600px; */
/* background: gray; */
display: flex;
flex-flow: row wrap;
justify-content: center; /* deixar coisas no centro*/
align-items: center; /* deixar coisas no centro*/
}

.headline{
    flex: 40%;
    margin-left: 10%;
    /* border:1px solid black; */

}

.headline h2{font-weight: 900; /*largura da letra*/
font-size: 20px;
color: #180f4a;
padding: 0; /*tirar espaçamento*/
margin: 0;} /*tirar epaçamento */

.headline p{color: gray;
text-align: left;
}

.contact-btn{background: #ff2978;
padding: 20px;
color: white;
text-transform: uppercase; /*tudo maiusculo*/
border-radius: 5px;
text-decoration: none; /*tira o sublinhado do butão*/
display: inline-block;/*separa quando tiver muito junto*/
}
.contact-btn:hover{background: #180f4a;}

.imgheadline{
margin-right: 10%;
flex: 40%;
/* border: #ff2978 solid 1px; */
text-align: center;

}
